:root {
    --black: rgb(85, 83, 83);
    --moreBlack: rgb(32, 32, 32);
}

.profile-area-header {
    text-align: center;
    margin: 4em 0;
    color: var(--black);
    font-size: 14px;
}

.profile-area-header p:first-child {
    color: var(--moreBlack);
}

.profile-area-wrap {
    margin: 5% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
}

.profile-area-text {
    background-color: #f2f2f2;
    padding: 1em 2em;
    width: 100%;
    height: 550px;
    overflow-y: hidden;
    animation: text forwards .55s .3s;
    opacity: 0;
}

.profile-area-text .contain {
    overflow-y: hidden;
    height: 490px;
}

.profile-area-text p {
    font-size: 14px;
    color: var(--black);
}

.profile-area-image {
    width: 470px;
    height: 583px;
    overflow-y: hidden;
    animation: image .55s .2s forwards;
    opacity: 0;
}

.profile-area-image img {
    width: 100%;
}


/* Custom Class */

.underline {
    width: 30px;
    height: 3px;
    background-color: var(--black);
}


/* Custom Class For Night Mode */

.profile-area-text-dark-mode {
    background-color: #4a4a4a !important;
}

@keyframes text {
    from {
        opacity: 0;
        transform: translateY(2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes image {
    from {
        opacity: 0;
        transform: translateX(2em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media(max-width:950px) {
    .profile-area-wrap {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
    }
    .profile-area-text {
        width: auto;
        height: auto;
        padding-bottom: 30px;
    }
    .profile-area-image {
        grid-row: 1/2;
        margin: auto;
    }
    .profile-area-image {
        overflow-y: hidden;
        animation: image .55s .2s forwards;
        opacity: 0;
    }
}

@media (max-width: 550px) {
    .profile-area-image {
        width: auto;
        height: auto;
    }
    .profile-area-text .contain {
        overflow-y: hidden;
        height: 430px;
    }
}

@media (max-width: 420px) {
    .profile-area-header {
        padding-top: 30px;
    }
    .profile-area-wrap {
        padding-bottom: 46px;
    }
}