:root {
    --black: rgb(85, 83, 83);
    --moreBlack: rgb(32, 32, 32);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: manrope;
    color: var(--moreBlack);
    overflow-x: hidden;
    transition: all ease-in .2s;
}

.container {
    width: 85%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    transition: all .2s ease-out;
}

.dropdown {
    padding: 0;
    background-color: #fbfbfb;
    color: var(--black);
    overflow-y: hidden;
    height: 0;
    transition: ease-in .5s;
}

.dropdown .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.dropdown nav ul {
    margin-inline-start: unset;
    margin-inline-end: unset;
    margin: 0;
    display: flex;
    margin-top: 25px;
}

nav li {
    padding-right: 4rem;
    opacity: 0;
}

nav a {
    color: #a3a3a3;
    position: relative;
}

.contact h3 {
    color: var(--black);
}

.dropdown .contact a {
    color: grey;
    text-decoration: underline;
}

.contact p,
.contact span {
    font-size: 13px;
}

.contact-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color: #f2f2f280;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    opacity: 0;
    pointer-events: none;
    transition: ease-in .5s;
}

.contact-form label {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    color: var(--moreBlack);
}

.contact-form h4 {
    color: var(--moreBlack);
}

.contact-form {
    width: 350px;
    padding: 0 3em;
    border-radius: 10px;
    box-shadow: 8px 5px 25px 5px rgb(199, 197, 197);
    position: absolute;
    margin: auto;
    overflow: hidden;
    transition: .2s ease-in;
    z-index: 2;
    background-color: white;
}

.contact-form .ti-close {
    position: absolute;
    right: 30px;
    top: 25px;
    color: var(--black);
}

.contact-form .message {
    transform: translateY(-1em);
}

.contact-form div {
    padding-bottom: 10px;
}

.contact-form input {
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    display: block;
}

.contact-form .name input,
.contact-form .message input {
    display: block;
    width: 98.5%;
}

.contact-form .phone-email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form .phone input {
    width: 80%;
}

.contact-form textarea {
    border: none;
    border-bottom: 1px solid var(--black);
    outline: none;
    display: block;
}

.contact-form button {
    display: block;
    margin: auto;
    transform: translateY(-1em);
    border: 1px solid var(--black);
    outline: none;
    box-sizing: border-box;
    width: 8em;
    padding: .5em 1em;
    background-color: transparent;
    margin: 10px auto;
}

.bottom-header {
    margin-top: 0;
}

.bottom-header .container {
    display: flex;
    justify-content: space-between;
}

.bottom-header span {
    margin-top: 5px;
}

.bottom-header i {
    font-size: 18px;
    padding-left: 10px;
}

.icons {
    display: flex;
    width: 200px;
    justify-content: space-between;
    position: relative;
}

.icon {
    display: flex;
}

.icon i {
    padding-right: 10px;
    color: var(--moreBlack);
}

.icon p {
    font-size: 12px;
    padding-left: 10px;
}

.light-mode {
    display: flex;
    justify-content: space-between;
    display: none;
}

.light-mode-icon {
    background-color: #4a4a4a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(46, 46, 46, 0.021);
}

.light-mode-icon i {
    margin: auto;
    color: rgb(231, 231, 231);
}

.dark-mode {
    display: flex;
    justify-content: space-between;
}

.dark-mode-icon {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgb(231, 230, 230);
}

.dark-mode-icon i {
    margin: auto;
}

.icon i {
    padding-right: 10px;
}

.burger {
    margin-left: 20px;
}

.burger .line {
    width: 32px;
    height: 2px;
    background-color: var(--moreBlack);
    margin: 8px 0;
}

.push-up i {
    font-size: 40px;
}

.bottom-header {
    padding-top: 30px;
    background-color: white;
}

.bottom-header span {
    font-family: cursive;
    font-size: 18px;
}


/* Custom class */

.active {
    color: var(--black);
}

.popup {
    opacity: 1;
    pointer-events: unset;
}


/* Custom Class for Dark Mode */

.header-dark-mode {
    background-color: #4a4a4a !important;
    transition: ease-in .25s;
}

.body-dark-mode {
    background-color: #3e3e3e !important;
    transition: ease-in .25s;
}

.text-dark-mode {
    color: rgb(231, 231, 231) !important;
}

.burger-dark-mode {
    background-color: transparent !important;
    width: 20px;
    margin-left: 20px;
}

.burger-line-dark-mode {
    background-color: rgb(231, 231, 231) !important;
}

.active-dark-mode {
    color: rgb(231, 231, 231);
}

.inactive-dark-mode {
    color: rgb(121, 120, 120);
}

.underline-dark-mode {
    background-color: rgb(231, 231, 231) !important;
}

.underline {
    width: 30px;
    height: 3px;
    background-color: var(--black);
}


/* Icons */

#on {
    display: none;
}

#close {
    display: none;
}


/* Js classes */

.dropdown-show {
    height: 200px;
    transition: ease-in .5s;
}

.reset-icon {
    display: block !important;
}

footer {
    text-align: center;
    background-color: #f2f2f2;
    padding: 3em 0;
}

footer .social-links {
    margin: auto;
}

footer .social-links a {
    margin: 20px;
    color: var(--moreBlack);
}

footer span {
    display: block;
    margin-top: 30px;
    color: var(--black);
    font-size: 14px;
}

footer span i {
    padding-left: 5px;
    color: red;
}


/* Media Query for Contact Overlay */

@media(max-width:510px) {
    .contact-overlay {
        position: fixed;
        top: 0;
        padding-top: 5em;
    }
}

@media(max-width:485px) {
    .contact-form {
        width: 70%;
    }
}

@media(max-width:420px) {
    .contact-form {
        padding: 1em 3em;
    }
    .contact-form .phone-email {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-form .phone input,
    .contact-form .email input {
        width: 98.5%;
    }
    .contact-form .message {
        transform: translateY(0em);
    }
    .contact-form button {
        transform: translateY(0em);
        margin: 20px auto;
    }
}

@media (max-width:961px) {
    nav li {
        padding-right: 2rem;
    }
}

@media (max-width:810px) {
    .dropdown .container {
        display: block;
    }
    .dropdown .contact {
        margin-top: 40px;
    }
    .dropdown-show {
        height: 250px;
    }
}

@media (max-width:510px) {
    .dropdown nav ul {
        display: block;
    }
    nav ul {
        line-height: 3em;
    }
    .dropdown-show {
        height: 400px;
    }
    .underline {
        transform: translateY(-.7em);
    }
}

@media (max-width:420px) {
    p {
        font-size: 13px;
    }
    .portfolio-contents {
        margin-top: 100px;
    }
    .burger {
        margin-top: 5px;
    }
    .burger .line {
        width: 20px;
        height: 2px;
        background-color: var(--moreBlack);
        margin: 5px 0;
    }
    .icons {
        width: 50px;
    }
    .icon {
        position: absolute;
        right: 50px;
    }
    .icon p {
        display: none;
    }
    .reset-icon {
        position: absolute;
        right: 0;
    }
    .burger {
        position: absolute;
        right: 0;
    }
}

@media (max-width:350px) {
    footer .social-links a {
        margin: 10px;
        color: var(--moreBlack);
    }
}

@keyframes jumpUp {
    from {
        opacity: 0;
        transform: translateY(2em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}